header nav {
    flex-grow: 2;
}

header h1 {
    overflow: hidden;
}

.buttonsMenu {
    flex-grow: 1;
    /*display: inline-block;*/
}

.buttons {
    width: 510px;
    margin: auto;
}

.buttons button {
    margin-right: 10px;
}

.cabinet {
    flex-grow: 1;
    line-height: 36px;
    text-align: right;
    /*display: inline-block;*/
}

.cabinet a {
    height: 36px;
}

.cabinet a:hover {
    color: white;
    text-decoration: none;
}

.navigate {
    display: flex;
}

.buyList {
    width: 1000px;
    margin: auto;
    background: #4169E1;
}

.buyItemCard {
    display: inline-block;
    margin: 20px 30px 10px 10px;
}

.buyItemCard:nth-child(3n) {
    margin-right: 0;
}

.error {
    display: none;
    color: red;
}

.currentQuest {
    background: lightgreen;
}

.myBid {
    background: lightgreen;
}

.red {
    color: red;
}

.content {
    width: 1000px;
    margin: auto;
    background: #4169E1;
    color: white;
    padding: 20px 15px;
}

div[data-react-toolbox=dialog] > section{
    overflow: auto;
}